<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Jogo da Forca</title>
</head>
<body>
    <h1>Jogo da forca</h1>
    <div class="container">
    <p class="tema"><br>Tema:</br> <%= theme %></p>
  <p>Adivinhe a palavra:</p>
  <p class="palavra"><%= maskedWord %></p>
  <p><br>Letras utilizadas:</br><%= usedLettersString %></p>
  <form action="/" method="POST">
    <input type="text" name="guess" placeholder="Digite uma letra" class="box">
  </form>
  <% if (gameOver) { %>
    <p>O jogo acabou!</p>
    <p><%= gameOverMessage %></p>
    <a href="/?playAgain=true">Jogar Novamente</a>
  <% } %>
  <% for (let i = 0; i < heartsRemaining; i++) { %>
    <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/08/03-9.png" alt="Coração do Minecraft" id="coracao"  width="40">
  <% } %>
    <br></br>
</div>
</body>
</html>